/EDIPostService/EDIPostService.v11.suo
/EDIPostService/EDIPostServiceTests/bin/Debug
/EDIPostService/EDIPostServiceTests/obj/Debug
/EDIPostService/bin/Debug
/EDIPostService/obj/Debug
/EDIPostService/packages/xunit.1.9.1/lib/net20
/EDIPostService/packages/xunit.1.9.1
/EDIPostService/EDIPostService.csproj.user